<section id="exclusivites" class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Les Animations</h1>
            <div style="margin-top:4em;">
                <h2>Les originalités</h2>
            </div>
        </div>
    </div>
</section>
<section class="container content-section fake-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div>
                <h3>Epsilon et Artémis</h3>
                <p>
                    Vous avez toujours rêvé de vous retrouver sur la passerelle d'un croiseur spatial ? Avec le jeu en réseau Artemis et sa version libre Epsilon, nous allons transformer une simple salle de réunion en véritable salle de commande d'un vaisseau spatial. Le principe est simple : 5 postes spécialisés (ingénieurie, armement, pilotage, communication, cartographie) et, bien sûr, un ou une capitaide pour coordonner le tout. L'objectif : mener à bien des missions scénarisées par nos soins. Alors, accrochez-vous, vaisseau ennemi à portée de laser !
                    <ul class="info-list">
                        <li>Durée des parties : 20 minutes en découverte.</li>
                        <li>âge recommandé : 11 ans et plus</li>
                        <li>Activité accessible aux personnes à mobilité réduite (avec quelques aménagements pour les non et mal-voyants)</li>
                        <li>Inscription à l'accueil.</li>
                        <li>Lieu : MDE, 1er étage, Pépinière et Hall</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="content-section fake-section">
    <div class="artefact-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Artefact</h3>
                <p>
                    Artefact est un dispositif vidéo ludique immersif qui a la particularité de n'utiliser ni écran, ni clavier, ni souris. Une ambiance mystérieuse, un espace confiné, des lumières s’allument, des boutons s’éclairent. L'expérience commence là. À travers ses différentes actions, le participant pourra faire évoluer l’univers lumineux et communiquer avec le dispositif. Ce projet est né sous l'impulsion des membres de l'association ABL, regroupant étudiants, personnels de l'université de Lille et extérieurs. Alors seul ou en groupe, venez nous retrouver. Pour plus d'informations sur le projet, vous pouvez aller <a href="https://bidouilleurslibristes.github.io/Artefact/">sur son site projet</a>
                    <ul class="info-list">
                        <li>Durée des parties : 20 minutes en moyenne</li>
                        <li>âge recommandé : 11 ans et plus</li>
                        <li>Pas d'inscription préalable</li>
                        <li>Cette activité n'est pas encore accessible aux personnes à mobilité réduite</li>
                        <li>Lieu : Espace Culture, Café</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="game_jam" class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div style="margin-top:4em;">
                <h2>La Game Jam</h2>
                <p>Venez créer votre jeu, seul ou en équipe pendant le week-end.</p>
		<h3>Theme :</h3>
		<p>68, 42</p>
		<h3>Inscriptions :</h3>
		<p>A venir</p3>
		<h3>Horraire :</h3>
		<ul>
		    <li>vendredi 18 h : lancement au café culture</li>
		    <li>de vendredi 20 h à samedi 20 h : gamejam</li>
		    <li>samedi 21 h : demo dans l'amphi culture</li>
		</ul>
            </div>
        </div>
    </div>
</section>
<section id="village" class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div style="margin-top:4em;">
                <h2>Le Village du Libre</h2>
            </div>
        </div>
    </div>
</section>
<section id="classiques" class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div style="margin-top:4em;">
                <h2>Les classiques</h2>
            </div>
        </div>
    </div>
</section>
<section class="content-section fake-section">
    <div class="lan-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>LAN</h3>
                <p>
                    Vous êtes fan de jeux en réseau. Une petite LAN (10 postes) sera disponible en continu avec quelques classiques : T-World, Age of Empire (le seul, le II), Starcraft... Lieu : MDE, salle arrière
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container content-section fake-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div style="margin-top:4em;">
                <h3>Jeux de plateau</h3>
                <p>
                    Un espace dédié aux jeux de plateau sera à votre disposition grâce à l'association Dés à la Carte. En famille, seul ou entre amis, venez découvrir ou redécouvrir des jeux aussi divers qu'enrichissants. Lieu : MDE, Espace scène
                </p>
            </div>
        </div>
    </div>
</section>
<section class="content-section fake-section">
    <div class="retro-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Jeux rétros</h3>
                <p>
                    Vous pensez vraiment que « c'était mieux avant ». Venez, on a sorti nos premières consoles du grenier (ou celles de nos aîné.e.s). Un petit pôle rétro sera organisé avec GameCube, Super NES et Megadrive. Lieu : MDE, Salle Arrière
                </p>

                <p style="font-size: 10px !important">Image par <a href="https://www.flickr.com/photos/tonyjcase/2962648785/">Great Beyond</a>, modification de luminosité et contraste.</p>
            </div>
        </div>
    </div>
</section>
<section class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div style="margin-top:4em;">
                <h3>Animations ponctuelles</h3>
                <p>
                    <ul class="info-list">
                        <li>vendredi, 20h, tournoi LAN T-World (salle arrière, MDE), inscriptions à l'accueil</li>
                        <li>samedi, 14h, tournoi Race For The Galaxy (Café Culture), inscriptions à l'accueil</li>
                        <li>Samedi, 16h, projections de court-métrages (Amphi Culture)</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
