<section id="benevoles" class="content-section text-center">
	<div class="benevoles-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">

				<h2>Bénévoles, le FULL recrute !</h2>

				<p>Cet événement ne serait rien sans son public mais aussi sans les bénévoles qui participent, chacun.e à leur petite échelle, à la réussite de l'événement.</p>

				<p>Alors, si vous acceptez de donner quelques heures de votre temps pour aider au bon déroulement de l'événement, <a href="https://framaforms.org/etre-benevole-au-festival-universitaire-ludique-libre-2019-1518777401">Formulaire</a> pour vous inscrire.
				</p>
			</div>
		</div>
	</div>
</section>
