<!-- Download Section -->
<section id="infos" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Informations pratiques</h2>
            <h3>Quand</h3>
            <p> du Samedi 2 Février, 11h, au Dimanche 3 Février 2019, 02h, non stop.</p>
            <h3>Où</h3>
            <p>Sur le Campus Cité Scientifique de l'Université de Lille, à la Maison des Étudiant.e.s et au sein de l'Espace Culture (les locaux sont accessibles aux personnes à mobilité réduite)</p>
            <h3>L'entrée ?</h3>
            <p> Libre et Gratuite bien sûr !</p>
            <p>
                L'inscription aux animations se fait sur place, à l'accueil.
                Aucune nouvelle entrée n'est possible en soirée après 23h.
            </p>
            <h3>Venir</h3>
            <p>Métro Ligne 1 (et ligne Nocturne) : « Cité Scientifique » <br>
            Adresse : Maison des Etudiant.e.s, Avenue Carl Gauss, 59650 Villeneuve d’ascq</p>
            <h3>Boire et manger</h3>
            <p>Un service au bar et une petite restauration (crocs) seront assurés dans la limite des capacités. Des micro-ondes seront également à votre disposition pour réchauffer vos propres petits plats.L'ensemble des boissons seront servies dans des Ecocups consignées.</p>

            <h3>Nous contacter</h3>
            <p>Pour toute question, vous pouvez contacter l'association ABL, organisatrice de l'événement, par mail à abl@univ-lille.fr ou bidouilleurslibristes@gmail.com.</p>
        </div>
    </div>
</section>
