     <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>
                    <span class="light">Le</span> FULL
                </a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">A propos</a>
                    </li>

                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Animations
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#animations">Présentation</a></li>
                          <li><a href="/animations">Programme complet</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="page-scroll" href="#infos">Infos Pratiques</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#benevoles">Être bénévole</a>
                    </li>


                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Partenaires
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="page-scroll" href="#partenaires">Partenaires</a>
                            </li>
                          <li><a href="/partenaires">Liste complète des partenaires</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
