<section class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div style="margin-top:4em;">
                <h2>Les soutiens et partenaires</h2>
                <p>
                    Cette convention ne serait pas possible sans nos soutiens et partenaires qui nous subventionnent ou participent aux animations.
                </p>
                <h3>L'Université de Lille et ses services</h3>
                <p>
                    Nous tenons à remercier, pour son soutien financier ainsi que pour la mise à disposition des locaux et de matériels, l'Université de Lille et, en particulier, le Bureau Vie Étudiante et Handicap de Cité Scientifique, la Maison des Étudiant.e.s, l'Espace Culture et le Service Commun de la Documentation - Données de la Recherche.
                </p>
            </div>
            <div>
                <h3>Les associations étudiantes des campus</h3>
                <p>
                    Pour leur soutien matériel et/ou humain, nous remercions les associations suivantes :
                    <ul>
                        <li>Dés à la Carte : Dés à la carte est une association de jeux, basée sur le Campus Cité Scientifique. Elle se réunit tous les mardis de 18 à 23h à la Maison des Etudiant.e.s.</li>
                        <li>la Taverne Oubliée pour les jeux de plateau : La Taverne Oubliée est une association de jeux et d’animations, basée sur le campus Pont de Bois.</li>
                        <li>L’Association des Étudiants en Informatique (AEI) pour le matériel du Pôle LAN</li>
                        <li>Les Cyberpaliens</li>
                    </ul>
                </p>
            </div>
            <div style="margin-top:4em;">
                <h2>Les autres partenaires</h2>
                <ul>
                    <li>Mycellium</li>
                    <li>Chti'Nux</li>
                    <li>Space Cowboys pour les lots gracieusement offerts</li>
                </ul>
            </div>
            <div style="margin-top:4em;">
                <h2>Remerciements personnels</h2>
                <ul>
                    <li><a href="https://twitter.com/Natir_chan">Sophie Kaleba</a>, pour la création de l'affiche</li>
                    <li><a href="http://falce.net/">Matthieu Falce</a> et <a href="https://twitter.com/Natir_chan">Pierre Marijon</a>, pour ce site web</li>
                </ul>
            </div>
        </div>
    </div>
</section>