<section id="partenaires" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Les soutiens et partenaires</h2>
            <div>
                <p>
                    Cette convention ne serait pas possible sans nos soutiens et partenaires qui nous subventionnent ou participent aux animations.
                </p>
                <p>
                    Pour voir la liste complète, <a href="/partenaires">rendez-vous ici.</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div>
                <h2>L'association organisatrice</h2>
                <div>
                    <p>
                        <a href="http://bidouilleurslibristes.org/">L’association des Bidouilleurs Libristes (ABL)</a> a pour objet l'hébergement de projets, la promotion des communs et la promotion du libre (au sens logiciel libre). Elle développe différents types de projets : création et valorisation de jeux vidéo indépendants, accompagnement dans la réparation informatique, bidouille électronique.
                    </p>
                </div>
            </div>
            <div>
                <h3>L’Espace Bidouille</h3>
                <p>
                    Géré par ABL, il est situé au 1er étage de la Maison des Étudiant.e.s. Il dispose de matériel de bricolage, d’impression 3d, d’électronique et d’informatique. C’est un espace de travail, ouvert à toutes et tous, qui permet de mener et de développer vos projets les plus divers. Permanence le Samedi : 11h30 à 17h - Permanence ponctuelle en semaine
                </p>
            </div>
        </div>
    </div>
</section>